<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
       <h5 class="card-title">{{Titulo}}</h5>
      </div>
      <div class="card-body ">
        <form [formGroup]="formCarpeta" (ngSubmit)="enviarPeticion(formCarpeta.value)" class="px-3">
          <div class="row" >
               <div class="col-6" >
                    <div class="form-group">
                      <label>Titulo</label>
                      <input type="text" class="form-control" formControlName="carpetaDocumentoTITULO" placeholder="Ingrese el titulo de la carpeta">
                  </div>
                </div>
                <div class="col-6" >
                    <div class="form-group">
                      <label>Carpeta padre</label>
                      <select name="carpetaDocumentoPADRE" formControlName="carpetaDocumentoPADRE" class="form-control" id="carpetaDocumentoPADRE">
                        <option value="">Selecciona la carpeta</option>
                        <option *ngFor="let carpeta of carpetas"  value="{{carpeta.carpetaDocumentoID}}">{{carpeta.carpetaDocumentoTITULO}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6" >
                    <div class="form-group">
                      <label>Estado</label>
                      <select name="carpetaDocumentoESTADO" formControlName="carpetaDocumentoESTADO" class="form-control" id="carpetaDocumentoESTADO">
                        <option value="">Selecciona estado</option>
                        <option  value="ACTIVO">ACTIVO</option>
                        <option  value="DESACTIVO">DESACTIVO</option>
                      </select>
                    </div>
                  </div>


            </div>

            <div class="row mt-5">
              <div class="update ml-auto mr-auto col-12">
                  <button type="submit" [disabled]="!formCarpeta.valid" class="btn btn-success btn-round w-100 ">{{tituloaccion}}</button>
              </div>
           </div>

        </form>

      </div>
    </div>
  </div>
</div>
