<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Activos</h5>
      </div>
      <div class="card-body ">
        <div class="row text-center">
          <div class="col-12 ">
            <h5>Hoja de vida de activos</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6 ">
            <div class="form-group">
              <label for="personaIDENTIFICACION">Categoria de activo</label>
              <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                <option value="">Selecciona el estado civil</option>
              </select>
            </div>
          </div>

          <div class="col-6 ">
            <div class="form-group">
              <label for="personaIDENTIFICACION">Tipo de activo</label>
              <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                <option value="">Selecciona el estado civil</option>
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-4 ">
            <div class="form-group">
              <label for="personaIDENTIFICACION">Serial</label>
              <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
            </div>
          </div>
          <div class="col-4 ">
            <div class="form-group">
              <label for="personaIDENTIFICACION">Marca</label>
              <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
            </div>
          </div>
          <div class="col-4 ">
            <div class="form-group">
              <label for="personaIDENTIFICACION">Numero de placa</label>
              <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 ">
            <div class="form-group">
              <label for="personaIDENTIFICACION">Trabajador a cargo</label>
              <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                <option value="">Selecciona el estado civil</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

