<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Equipos Fisicos</h5>
            </div>
            <div class="card-body ">
                <div class="row text-center">
                    <div class="col-12 ">
                        <h5>Hoja de Vida Para Equipos Tecnologicos E Industriales</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Rrealizado Por</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Ultima Actulizacion fecha</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Equipo selec</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Placa De Inventario</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Tipo De Equipo selec</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Marca</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Modelo</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Serie</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Equipo: Movil o Fijo selec</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Mnuales Del Equipo selec</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Periodicidad De Mantenimento Preventivo selec</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Servicio y Ubicacion</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Forma De Adquisicion</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Fecha De Adquicicon</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Fecha De Instalacion y Operacion</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                    
                </div>
                       <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Venciemiento De Garantia</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Costos</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Provedor</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                    
            </div>
                   <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Telefono</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Correo</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Vida Util</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
        </div>
            <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Voltaje</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Corriente</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Potencia</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                    
    </div>
        <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Telefono</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Correo</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Vida Util</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
                    
</div>
        <div class="row">
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Frecuencia</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Presion</label>
                            <input type="text" class="form-control" placeholder="ingrese el numero de identificación">
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="form-group">
                            <label for="personaIDENTIFICACION">Peso</label>
                            <select name="personaESTADOCIVIL" class="form-control" id="personaESTADOCIVIL">
                        <option value="">Selecciona el estado civil</option>
                    </select>
                        </div>
                    </div>
</div>