<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Recibidos</h5>
      </div>
      <div class="card-body ">
        <div class="row" >
          <div class="col-12 text-right">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="nuevo()">Nuevo por copia</button>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="ver()"  >Ver</button>
            <button type="button" class="btn btn-outline-warning btn-sm" (click)="editar()" >Editar</button>
            <button type="button" class="btn btn-outline-success btn-sm" (click)="exportar()" >Exportar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-tabla-basica> </app-tabla-basica>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
